@import '~@fortawesome/fontawesome-free/css/all';
@import '~bootstrap/scss/bootstrap';

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.bg-white {
    background: white;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.cursor-pointer:hover {
  cursor: pointer;
}

select:invalid {
  color: gray;
}

.checkbox-sm {
    height: 18px;
    width: 18px;
    vertical-align: middle;
}

.checkbox-md {
    height: 22px;
    width: 22px;
    vertical-align: middle;
}

.checkbox-lg {
    height: 26px;
    width: 26px;
    vertical-align: middle;
}

.dropdown-toggle.text-lowercase::after {
    vertical-align: middle;
}

#grid-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    display: none;
    background: rgba(250,250,250,0.7);
    z-index: 9999;
}

#grid-menu ul {
    overflow-y: auto;
    position: absolute;
    width: 300px;
    background: #343a40;
    color: #fff;
    height: 100%;
    left: 0;
    top: 0;
    padding: 0;
    margin: 0;
    list-style: none;
}

#grid-menu #grid-menu-button {
    position: absolute;
    top: 0;
    left: 226px;
    color: #fff;
    z-index: 999;
    text-align: center;
    vertical-align: middle;
    padding: 30px;
}

#grid-menu li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px 14px;
}

#grid-menu li.active a,
#grid-menu li a:hover {
    background: #4578b9;
}

#grid-menu .divider {
    margin: 2px 0 2px 0;
    padding: 0;
    border-top: 1px solid rgba(255,255,255,0.4);
    height: 1px;
}

.dx-datagrid-header-panel .dx-toolbar {
    margin: 0;
    padding: 6px;
}

.dx-datagrid-rowsview .dx-data-row {
    cursor: pointer;
}

.dx-my-context-menu {
    padding: 2px 6px;
}

.dx-my-context-menu .fa {
    vertical-align: middle;
}

.dx-form-size .dx-switch-container {
    height: 36px;
}
.dx-form-size .dx-switch-handle {
    height: 30px;
}
.dx-form-size .dx-switch-on,
.dx-form-size .dx-switch-off {
    line-height: 36px;
}

.dx-datagrid-rowsview .dx-row .dx-master-detail-cell {
    padding: 4px !important;
}

.dx-datagrid-rowsview .dx-row .dx-master-detail-cell > .dx-widget > .dx-datagrid {
    border: 4px solid #666;
}

.dx-theme-carmine,
.dx-theme-carmine\.compact,
.dx-theme-greenmist,
.dx-theme-greenmist\.compact {
    .dx-datagrid-rowsview .dx-selection.dx-row > td,
    .dx-datagrid-rowsview .dx-selection.dx-row:hover > td,
    .dx-datagrid-rowsview .dx-master-detail-row .dx-selection.dx-row > td,
    .dx-datagrid-rowsview .dx-master-detail-row .dx-selection.dx-row:hover > td {
        .fa-dx,
        a,
        div {
            color: #ffffff !important;
        }
    }
}

.dx-theme-contrast,
.dx-theme-contrast\.compact {
    .dx-datagrid-rowsview .dx-selection.dx-row > td,
    .dx-datagrid-rowsview .dx-selection.dx-row:hover > td,
    .dx-datagrid-rowsview .dx-master-detail-row .dx-selection.dx-row > td,
    .dx-datagrid-rowsview .dx-master-detail-row .dx-selection.dx-row:hover > td {
        .fa-dx,
        a,
        div {
            color: #000 !important;
        }
    }
}

.dx-theme-darkmoon,
.dx-theme-darkmoon\.compact {
    .dx-datagrid-rowsview .dx-selection.dx-row > td,
    .dx-datagrid-rowsview .dx-selection.dx-row:hover > td,
    .dx-datagrid-rowsview .dx-master-detail-row .dx-selection.dx-row > td,
    .dx-datagrid-rowsview .dx-master-detail-row .dx-selection.dx-row:hover > td {
        .fa-dx,
        a,
        div {
            color: #465672 !important;
        }
    }
}