<template>
<div class="container">
    <h1 v-text="$root.filter.country"></h1>
</div>
</template>

<script>
    export default {
        data() {
            return {

            }
        },
        methods: {

        },
        created() {

        },
        mounted() {
        }
    }
</script>
