<template>
<div>
    <div class="modal" :class="{'is-active': modal}">
        <div class="modal-background" @click="hide"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title" v-text="trans('set filters')"></p>
                <button class="delete" aria-label="close" @click="hide"></button>
            </header>
            <section class="modal-card-body">
                sfsdlfsdkfdslk
            </section>
            <footer class="modal-card-foot">
                <button class="button is-link" v-text="'OK'" @click="hide"></button>
            </footer>
        </div>
    </div>
    <button @click="show" class="button is-link"  v-text="trans('filter')"></button>
</div>
</template>

<script>
export default {
    data() {
        return {
            modal: false,
        }
    },
    methods: {
        show() {
            this.modal = true
        },
        hide() {
            this.modal = false
        }
    },
    computed: {
    },
    created() {
    },
    mounted() {
        document.body.addEventListener('keyup', e => {
            e.preventDefault()
            if (e.keyCode === 27) { /* esc */
                this.hide()
            }
        })
    }
}
</script>
