@import '~@fortawesome/fontawesome-free/css/all';
@import '~bootstrap/scss/bootstrap';

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.bg-white {
    background: white;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.cursor-pointer:hover {
  cursor: pointer;
}

select:invalid {
  color: gray;
}

.checkbox-sm {
    height: 18px;
    width: 18px;
    vertical-align: middle;
}

.checkbox-md {
    height: 22px;
    width: 22px;
    vertical-align: middle;
}

.checkbox-lg {
    height: 26px;
    width: 26px;
    vertical-align: middle;
}

.dropdown-toggle.text-lowercase::after {
    vertical-align: middle;
}